<!doctype html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>とうこうがめん</title>
  </head>
  <body>
    <h1>とうこうがめん</h1>
    <form method="post" action="/input">
        <textarea name="name" cols="50" rows="1"></textarea>
        <textarea name="body" cols="50" rows="4"></textarea>
        <p><input type="submit" value="とうこうする"></p>
        <a href="/" target="_blank">戻る</a>
    </form>
  </body>
</html>
